/*
Auteur: Jeremiah Steiner
Date: 30.04.2021
Description: PreTPI Appartements
ETML 2021
*/



html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body { 
  background-color: #212529; 
  background-size: cover;
  overflow-x:hidden;
}

h2 {
  color: crimson;
}

/* icones : */
.bg-difficulty {
  width: 160px;
  height: 32px;
  background: url('../image/icone/css_sprites.png') -10px -10px;
}

.bg-evaluation {
  width: 160px;
  height: 32px;
  background: url('../image/icone/css_sprites.png') -10px -62px;
}

.bg-iconLoupe {
  width: 32px;
  height: 32px;
  background: url('../image/icone/css_sprites.png') -63px -114px;
}

.bg-iconLoupe-reverse
{
  width: 32px;
  height: 32px;
  background: url('../image/icone/css_sprites.png') -63px -114px;
  transform: scaleX(-1);
}

.bg-iconPencil {
  width: 32px;
  height: 32px;
  background: url('../image/icone/css_sprites.png') -115px -114px; 
}

.bg-iconTrash {
  width: 33px;
  height: 33px;
  background: url('../image/icone/css_sprites.png') -10px -114px;
}

.bg-star {
  width: 150px;
  height: 150px;
  background: url('../image/icone/css_sprites.png') -1005px -1005px;
}

.icon-column {
  width: 32px;
}


#mainNav {
  background-color: darkslategrey;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.5em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#login{
  border-radius:25px;
  padding: 0.8em 1em !important;
  margin-top:0.3em;
}

.content{
  margin-top:20%;
  margin-bottom: 5%;
  flex: 1 0 auto;
}


.btn-primary:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  box-shadow:none;
}

.footer {
  flex-shrink: 0;
}

footer {
  text-align: center;
  background-color: white;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

.mastHead{
  margin-top: 5vh;
}

#numPage{
  width: 100%;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }
  
  .mastHead{
    margin-top: 7vh;
  }
  
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

@media (max-width: 992px) {
  .content{
    margin-top:10% !important;
    margin-bottom: 5%;
  }

  .mastHead{
    margin-top: 8vh;
  }
}

@media (max-width: 500px) {
  .content{
    margin-top:10% !important;
    margin-bottom: 5%;
  }

  .mastHead{
    margin-top: 8vh;
  }
}

@media (max-width: 408px) {
  .content{
    margin-top:13% !important;
    margin-bottom: 5%;
  }
  .mastHead{
    margin-top: 16vh;
  }
}

@media (max-width: 198px) {
  .content{
    margin-top:50% !important;
    margin-bottom: 5%;
  }
  .mastHead{
    padding-top: 50%;
  }
}

label{
  color: white;
}

.logMSG{
  color: red;
}